<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head(navi)', {title: 'Shop | Cookieshop'}) %>
<body>
  
    <%- include('../includes/header', {header: 'This is the Shoppage enjoy'}) %>
    <div class="selection">
      <%- include('../includes/header(navi)') %>
    </div>

  <main>
    <p>Our current offering:</p>
  <ul>
    <% cookies.forEach(cookie => { %>
      <li>
        <% if(cookie.isInStock) { %> 
            <a href="/cookies/<%= cookie.slug %>"><%= cookie.name %>: <%= readablePrice(cookie.priceInCents) %></a>
          <% } else { %>
            <%= cookie.name %> [SOLD OUT] 
          <% } %>
    </li>
    <% }) %>
  </ul>

  <br>
  <p>
    <a href="/cookies/new"> CREATE YOUR NEW COOKIE HERE </a>
  </p>

  <br>

  <p>Upcomming flavours are:</p>
    <ul>
      <li><a href="/cookies/chocolate-chip">Chocolate Chip</a></li>
      <li><a href="/cookies/banana">Banana</a></li>
    </ul>
  </main>

  <%- include('../includes/footer') %>

</body>
</html>